
        .container{
            width: 1170px;
            margin: auto;
        }
     
        .item{
         
            background-color: yellow;
            height: 200px;
            padding: 10px;
            border: 1px solid black;
        }
        
       .owl-carousel .owl-nav button.owl-next
        {
      
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    background-color: aqua;
    position: absolute;
    right: 0;
    top: -2%;
    font-size: 12rem;
}


